body{
    color: #333;
    font-family: Courier;
    text-align: left;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
    font-size: 16px;
}
#container h1{
    font-size: 20px;
}