body{
    color: #333;
    font-family: Courier;
    text-align: left;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
    font-size: 16px;
}
#container h1{
    font-size: 20px;
}
#cabecera{
    background: #33a;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}
#post{
    padding: 1em;
}
#tag-line{
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0 0 1em;
}